.turtlemay__mathWidgetContainer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100000;
	pointer-events: none;
}

.turtlemay__mathWidget {
	position: absolute;
	bottom: 0;
	right: 5em;
	padding: 1em;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 10px 10px 0 0;
	color: #fff;
	font: 16px "Helvetica for Target", HelveticaForTarget, Targetica, "HelveticaNeue for Target", "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: all 200ms;
	pointer-events: all;
}

.turtlemay__mathWidget:not([data-turtlemay-active="true"]) {
	transform: translateY(100%);
}

.turtlemay__mathWidgetEqualsSign {
	font-weight: bold;
	color: #666;
}

.turtlemay__mathWidgetEqualsSign:after {
	content: " ";
	white-space: pre;
}

.turtlemay__barcodeWidget {
	margin: 1em 0;
}

.turtlemay__barcodeWidgetTabs a {
	display: inline-block;
	font-size: 16px;
	padding: 0.5em 1em;
	margin: 0 5px 0 0;
	background: white;
	border-radius: 4px 4px 0 0;
	cursor: pointer;
	user-select: none;
}

.turtlemay__barcodeWidgetTabs a[data-turtlemay-active] {
	font-weight: bold;
	background: rgb(247, 247, 247);
}

.turtlemay__barcodeWidgetBarcodeContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em 0.25em;
	background: rgb(247, 247, 247);
}

.turtlemay__userBarcodeWidget {
	margin: 1em 0;
}

.turtlemay__userBarcodeWidgetBarcodeContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5em 0.25em;
	background: rgb(247, 247, 247);
}

.turtlemay__footerText {
	color: rgb(199, 250, 170);
}

.turtlemay__footerTextIcon {
	filter: grayscale(1) contrast(0) brightness(0) invert(1);
}

.turtlemay__footerTextVersion {
	color: rgb(255, 203, 190);
}

.turtlemay__enterAnimation {
	transition-property: all;
	animation-name: turtlemay-enter-animation;
	animation-duration: 300ms;
}

@keyframes turtlemay-enter-animation {
	from {
		transform: scale(1.2);
		opacity: 0;
	}
}

.turtlemay__attentionTextAnimation {
	animation-name: turtlemay-attention-text-animation;
	animation-duration: 0.5s;
	animation-iteration-count: 3;
}

@keyframes turtlemay-attention-text-animation {
	50% {
		background-color: darkred;
		color: white;
	}
}
